* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 10px 100px 0px 100px;
}
.logo {
    margin-right: auto;
}
.logo img{
    height: 55px;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.navbar ul li {
    margin: 15px;
    font-size: 15px;
    cursor: pointer;
    color: #000000;
}
.navbar ul li:hover {
    color: #ff5733;
}
.navbar button {
    height: 40px;
    margin-left: auto;
    padding: 0px 16px;
    background-color: #ff5733;
    color: #ffffff;
    border: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.navbar button:hover {
    background-color: #e04e2b;
}
.hero img {
    width: 100%;
    height: auto;
}
.txt1 {
    position: absolute;
    top: 275px;
    left: 550px;
    font-size: 95px;
    color: #ffffff;
    text-align: center;
}
.txt1 {
    position: absolute;
    top: 275px;
    left: 550px;
    font-size: 95px;
    color: #ffffff;
    text-align: center;
}
.txt2 {
    position: absolute;
    top: 375px;
    left: 525px;
    font-size: 95px;
    color: #408551;
    text-align: center;
}
.txt3 {
    position: absolute;
    top: 500px;
    left: 550px;
    right: 600px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 1.75;
    word-spacing: 5px;
}
.hero-btn1 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 260px;
    position: absolute;
    top: 600px;
    left: 650px;
    padding: 12px 24px;
    font-size: 17px;
    color: #ffffff;
    background-color: #408551;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hero-btn1 img {
    width: 25px;
    height: 25px;
}
.hero-btn1:hover {
    background-color: #30663d;
}
.hero-btn2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    width: 220px;
    position: absolute;
    top: 600px;
    left: 935px;
    padding: 5px 20px;
    font-size: 17px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #408551;
    border-radius: 5px;
    cursor: pointer;
}
.hero-btn2 img {
    width: 25px;
    height: 25px;
    background: transparent;
}
.hero-btn2:hover{
    background-color: #429155;
}
.topbtn {
     display: inline-flex;
    align-items: center;
    gap:10px;
    height: 25px;
    width: 250px;
    position: absolute;
    top: 230px;
    left: 800px;
    padding: 12px 24px;
    font-size: 15px;
    color: #408551;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
}
.topbtn img {
    width: 15px;
    height: 15px;
}
.section-title {
    text-align: center;
    font-size: 60px;
    margin: 50px 0 20px 0;
    color: #000000;
}
.section-text {
    text-align: center;
    font-size: 20px;
    margin: 0 200px 50px 200px;
    color: #9e9797;
}
.cards{
  display:flex;
  justify-content:center;
  gap:60px;
}

.card{
  background:white;
  height: 275px;
  width:350px;
  padding:22px 18px;
  border-radius:10px;
  text-align:center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card img{
  margin: 50px 0 10px 0;
  background: #f25c54;       
  padding: 12px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
}
.card h3{
  font-size:25px;
  color:#000000;
  margin-bottom:10px;
}
.card p{
  font-size:16px;
  color:#9e9797;
}
.bigimg{
  display:flex;
  justify-content:center;
  gap:60px;
  margin: 100px 500px 100px 150px;
}
.sol {
    text-align: left;
    margin-top: 120px;
    margin-bottom:10px;
    font-size: 20px;
    color: #408551;
}
.scndbrain {
    text-align: left;
    margin-bottom:10px;
    font-size: 60px;
    color: #000000;
}
.belowtxt {
    text-align: left;
    margin-bottom:30px;
    margin-right: 100px;
    font-size: 18px;
    color: #9e9797;
}
.chkbx {
    align-items: left;
    list-style: none;
    font-size: 20px;
    margin:8px 0;
    line-height: 1.8;
}
.chkbx img{
  width:20px;          
  margin-right:8px;
  vertical-align:middle;
}
.cllng {
    text-align: center;
    margin: 100px 100px 100px 100px;
    color: #000000;
    background-color: antiquewhite;
    padding-bottom: 50px;
    border-radius: 10px;
}
.chead{
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.ctext{
    font-size: 20px;
    color: #9e9797;
    padding-bottom: 15px;
}
.cllngbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 60px;
    width: 200px;
    margin-bottom: 15px;
    padding: 6px 12px;
    font-size: 17px;
    color: #ffffff;
    background-color: #408551;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cllngbtn:hover {
    background-color: #30663d;
}
.ctext1 {
    font-size: 20px;
    color: #9e9797;
}
